<ion-header [translucent]="true">
  <ion-toolbar class="cabecera">
    <ion-title class="title-cabecera" color="light">MikeComputers</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="contenido">
    <h1 style="font-size: 40px;">Que es MikeComputers</h1>
    <p style="font-size: 20px; text-align: left;">
      <strong> MikeComputers</strong> es un proyecto creado para el curso Java full stack de EOI.<br>
      Esta web esta dedicada a informar sobre las principales noticias de videojuegos, informática y smartphones.<br> 
      En ella, podremos encontrar información útil para los usuarios interesados en el mundo de la tecnología.<br><br>
      <strong> MikeComputers</strong> es una web aún en construcción, por lo que es posible que tenga pequeños defectos,
      pero seguiré trabajando para convertirla en una web de referencia. <br><br>
      Esta web ha sido creada exclusivamente por <strong> Michael López Martínez</strong>, 
      tanto el lado backend como la parte frontend. <br> 
      Pare ello, he usando herramientas como Ionic, Angular y Spring.
      <br><br>
      <ion-item>
        <ion-icon class="icon" name="mail-outline"></ion-icon>
        <span class="email">mlopma91@gmail.com</span>
      </ion-item>
      <ion-item>
        <ion-icon class="icon" name="logo-github"></ion-icon>
        <a href="https://github.com/miike33" target="_blank"><span>miike33</span></a>
      </ion-item>
    </p>
  </div>

</ion-content>