.title-cabecera {
    font-size: 30px;
  }
  
  .cabecera {
    --background: black;
    font-family: "Courier New", Courier, monospace;
  }
  
  .pie {
    text-align: center;
  }
  
  .footer {
    margin-bottom: 0px;
  }